/* colors */
$bgcolor: #fff;
$fgcolor: #359;
$h1_bgcolor: #ace;
$h1_fgcolor: #024;
$a_visited_color: #355;
$a_hover_color: #088;
$alternate_light: #f9f9ff;
$alternate_dark: #e9e9ef;

/* fonts */
$fontsize: 16px;
$font: Verdana, sans-serif;

/* boxes */
$content_top: 66px;
$sidebar_width: 180px;

body {
	position: relative; 
	margin: 0; padding: 0;
	background-image:   url("images/fond_littry.jpg");
	background-repeat:repeat;
	background-position:top;
	background-color:$bgcolor;   
	font: $fontsize $font;
	color: $fgcolor;
}
/* main div params */
div.banner-container {
	text-align:center;
}
div.banner {
	background-color: $fgcolor; border-radius: 15px; 
	color: $bgcolor; font-size: 36px; padding: 5px 15px;
	display: inline-block;
}

/* content params */
div.content {
	position: absolute; top: $content_top; left: $sidebar_width; right: 25px; 
    padding: 10px; 

	p {margin: 0 1em 1em; font-weight:600; }

	h3 {margin-bottom: 0.25em;}

	h1 {
		margin: -9px -9px 0.5em; 
		padding: 15px 0 5px; 
		text-align: right; 
		background-color: $h1_bgcolor; 
		color: $h1_fgcolor; 
		text-transform: uppercase; 
		font: bold 25px sans-serif; 
		height: 28px; 
		vertical-align: middle; 
		white-space: nowrap;
	}

	a:link {color: $fgcolor;}
	a:visited {color: $a_visited_color;}
	a:link:hover {color: $a_hover_color;}
	a:visited:hover {color: $a_hover_color;} 

	input, textarea {
		font: $fontsize $font; 
	}
}			

/* menu params */

.sidebar {
	position: absolute; top: $content_top; left: 0; 
	width: $sidebar_width; height: 100%; 
	font-size: 18px; 
	padding-top:10px;
}
.sidebar, .addressbook_navbar, .addressbook_searchbar, .modal_bar {
	.menu { 
		display: block;
		a, input[type='submit'] {	
			border-radius: 10px; 
			display: inline-block;
			width: $sidebar_width - 10;
			padding: 3px 0px;
		}
	}
	.letter a {
	    width: 20px;
	    display: inline-block;
	}
	.menu, .letter {
		padding: 3px; margin: 0 2px 2px; 

		a, a:link, a:visited, input[type='submit'] {
			text-align: center; 
			font-weight:bold; font-size:14px;
			text-decoration: none; 
			cursor: pointer;
			color: $fgcolor;
			background-color: $bgcolor;
			border-width: medium; border-color: $fgcolor; border-style:ridge;
		}
		a:hover, input[type='submit']:hover {
			color: $bgcolor !important; 
			background-color: $fgcolor;
		}
	}
}
.search-query {
	position: relative; 
	vertical-align: top; 
	background-color: transparent;
}

.addressbook_navbar, .addressbook_searchbar, .searchbar, .modal_bar {
	display: block;
	.menu {
		display: inline-block;
	}
} 

.search, .startswith{
	display: inline-block;
}

.search{ float: inline-end;}


code, pre {color: #35F; font: 110% monospace; font-weight:bold;}


a.bouton:link:hover, a.bouton:visited:hover {	
	border-style: inset;
}

.bouton, a.bouton:link, a.bouton:visited {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	
	background-image:url("images/fond.jpg") ;
	text-decoration:none;
	margin: 3px;
	padding: 3px;
	border: medium outset; 
}

#menu ul li {
	font: italic normal 110% 'Times New Roman', Times, serif;
	letter-spacing: 0.1em;
	margin-top: 10px;
	padding-bottom: 2px;
}

#menu ul ul {
	font-variant: normal;
	font-weight: normal;
	line-height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#menu ul ul li {
	border: 0;
	font: normal normal 90%/115% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: 0;
	margin-top: 0;
	padding: 0;
	padding-left: 12px;
}

#menu ul ul li a {
	color: $bgcolor;
	text-decoration: none;
}

#menu ul ul li a:hover {
	border-bottom: 1px solid #908080;
}

#menu ul ul ul.children {
	font-size: 142%;
	padding-left: 4px;
}

.chat_time {
	font-style: italic;
	font-size: 9px;
}

#div_chat {
	height: 300px; width: 650px; 
	overflow: auto; 
	background-color: $bgcolor; 
	border: 1px solid $fgcolor;
}

#txt_message {	width: 573px; }


.container {
	/*width: 600px;*/
	margin: 0 auto;
}
  
.row {
	line-height: 24pt;
	border: solid 1px black;
}

.grid, .grid5 {
	display: grid;
	grid-gap: 10px;
	grid-auto-rows: minmax(20px, auto);
}

.grid {
	grid-template-columns: repeat(4, 1fr);
}
.grid5 {
	grid-template-columns: repeat(5, 1fr);
}

div.alternate-colors>div:nth-of-type(odd) {
	background: $alternate_dark;
}

div.alternate-colors>div:nth-of-type(even) {
	background: $alternate_light;
}

div.container2 > div:nth-of-type(odd) > div:nth-of-type(odd) {
	background: #e9e9ef;
}

div.container2 > div:nth-of-type(odd) > div:nth-of-type(even) {
	background: #f9f9ff;
}

div.container2 > div:nth-of-type(even) > div:nth-of-type(odd) {
	background: #f9f9ff;
}

div.container2>div:nth-of-type(even)>div:nth-of-type(even) {
	background: #e9e9ef;
}

.today {
	background-color: #ff0000;
}

.tomorrow {
	background-color: #ffd0d0;
}

.soon {
	background-color: #ffa0a0;
}

.later {
}

.name {
	text-align: center;
	font-weight: bold;
	padding: 5px 10px;
}

.ingrid1 {
  grid-column: 1 / 1;
  grid-row: 1;
}
.ingrid2 {
  grid-column: 2 / 2;
  grid-row: 1;
}
.ingrid3 {
  grid-column: 3 / 3;
  grid-row: 1;
  padding-left: 5px;
}
.ingrid4 {
  grid-column: 4 / 4;
  grid-row: 1;
  padding-left: 5px;
}

.entry_container {
	padding: 0px 6px 5px 6px;
}
.entry_container label {
    width: 150px;
    display: inline-block;
 	font-weight: bold;
	padding-right: 5px;
	vertical-align: top;
}

.entry_container div {
	display: inline-flex;
}

.info {
	font-weight: bold;
	margin-bottom: 40px;
}

.modal {
	display: block;
}
#modal_view{display:block} 
#modal_edit{display:none} 

.modal-back {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba( 0, 0, 0, .25 );
}	
.modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 25px;
	background: white;
	transform: translate(-50%, -50%);
	width: 900px;
}
