/* colors */
/* fonts */
/* boxes */
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url("images/fond_littry.jpg");
  background-repeat: repeat;
  background-position: top;
  background-color: #fff;
  font: 16px Verdana, sans-serif;
  color: #359;
}

/* main div params */
div.banner-container {
  text-align: center;
}

div.banner {
  background-color: #359;
  border-radius: 15px;
  color: #fff;
  font-size: 36px;
  padding: 5px 15px;
  display: inline-block;
}

/* content params */
div.content {
  position: absolute;
  top: 66px;
  left: 180px;
  right: 25px;
  padding: 10px;
}
div.content p {
  margin: 0 1em 1em;
  font-weight: 600;
}
div.content h3 {
  margin-bottom: 0.25em;
}
div.content h1 {
  margin: -9px -9px 0.5em;
  padding: 15px 0 5px;
  text-align: right;
  background-color: #ace;
  color: #024;
  text-transform: uppercase;
  font: bold 25px sans-serif;
  height: 28px;
  vertical-align: middle;
  white-space: nowrap;
}
div.content a:link {
  color: #359;
}
div.content a:visited {
  color: #355;
}
div.content a:link:hover {
  color: #088;
}
div.content a:visited:hover {
  color: #088;
}
div.content input, div.content textarea {
  font: 16px Verdana, sans-serif;
}

/* menu params */
.sidebar {
  position: absolute;
  top: 66px;
  left: 0;
  width: 180px;
  height: 100%;
  font-size: 18px;
  padding-top: 10px;
}

.sidebar .menu, .addressbook_navbar .menu, .addressbook_searchbar .menu, .modal_bar .menu {
  padding: 3px;
  margin: 0 2px 2px;
  display: block;
}
.sidebar .menu a, .sidebar .menu input[type=submit], .addressbook_navbar .menu a, .addressbook_navbar .menu input[type=submit], .addressbook_searchbar .menu a, .addressbook_searchbar .menu input[type=submit], .modal_bar .menu a, .modal_bar .menu input[type=submit] {
  border-radius: 10px;
  width: 170px;
  padding: 3px 0px;
}
.sidebar .letter a, .addressbook_navbar .letter a, .addressbook_searchbar .letter a, .modal_bar .letter a {
  width: 20px;
}
.sidebar .menu a, .sidebar .menu a:link, .sidebar .menu a:visited, .sidebar .menu input[type=submit], .sidebar .letter a, .sidebar .letter a:link, .sidebar .letter a:visited, .sidebar .letter input[type=submit], .addressbook_navbar .menu a, .addressbook_navbar .menu a:link, .addressbook_navbar .menu a:visited, .addressbook_navbar .menu input[type=submit], .addressbook_navbar .letter a, .addressbook_navbar .letter a:link, .addressbook_navbar .letter a:visited, .addressbook_navbar .letter input[type=submit], .addressbook_searchbar .menu a, .addressbook_searchbar .menu a:link, .addressbook_searchbar .menu a:visited, .addressbook_searchbar .menu input[type=submit], .addressbook_searchbar .letter a, .addressbook_searchbar .letter a:link, .addressbook_searchbar .letter a:visited, .addressbook_searchbar .letter input[type=submit], .modal_bar .menu a, .modal_bar .menu a:link, .modal_bar .menu a:visited, .modal_bar .menu input[type=submit], .modal_bar .letter a, .modal_bar .letter a:link, .modal_bar .letter a:visited, .modal_bar .letter input[type=submit] {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: #359;
  background-color: #fff;
  border-width: medium;
  border-color: #359;
  border-style: ridge;
}
.sidebar .menu a:hover, .sidebar .menu input[type=submit]:hover, .sidebar .letter a:hover, .sidebar .letter input[type=submit]:hover, .addressbook_navbar .menu a:hover, .addressbook_navbar .menu input[type=submit]:hover, .addressbook_navbar .letter a:hover, .addressbook_navbar .letter input[type=submit]:hover, .addressbook_searchbar .menu a:hover, .addressbook_searchbar .menu input[type=submit]:hover, .addressbook_searchbar .letter a:hover, .addressbook_searchbar .letter input[type=submit]:hover, .modal_bar .menu a:hover, .modal_bar .menu input[type=submit]:hover, .modal_bar .letter a:hover, .modal_bar .letter input[type=submit]:hover {
  color: #fff !important;
  background-color: #359;
}

.addressbook_navbar, .addressbook_searchbar, .searchbar, .modal_bar {
  display: block;
}
.addressbook_navbar .menu, .addressbook_searchbar .menu, .searchbar .menu, .modal_bar .menu {
  display: inline-block;
}

.search, .startswith {
  display: inline-block;
}
.search .search-query, .startswith .search-query {
  position: relative;
  vertical-align: top;
  background-color: #fff;
}

.search {
  float: inline-end;
}
.search .menu {
  padding: 0px;
}

code, pre {
  color: #35F;
  font: 110% monospace;
  font-weight: bold;
}

.info {
  font-weight: bold;
  margin-bottom: 40px;
}

/* chat */
.chat_time {
  font-style: italic;
  font-size: 9px;
}

#div_chat {
  height: 300px;
  width: 650px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #359;
}

#txt_message {
  width: 573px;
}

/* grids */
.grid {
  display: grid;
  grid-gap: 1px;
  grid-auto-rows: minmax(20px, auto);
  grid-template-columns: repeat(4, 1fr);
}

/* alternate row colors */
.alternate-colors > div:nth-of-type(odd) {
  background: #e9e9ef;
}
.alternate-colors > div:nth-of-type(even) {
  background: #f9f9ff;
}

/* alternate cell colors in 2D matrix */
.container > div:nth-of-type(odd) > div:nth-of-type(odd) {
  background: #e9e9ef;
}
.container > div:nth-of-type(odd) > div:nth-of-type(even) {
  background: #f9f9ff;
}
.container > div:nth-of-type(even) > div:nth-of-type(odd) {
  background: #f9f9ff;
}
.container > div:nth-of-type(even) > div:nth-of-type(even) {
  background: #e9e9ef;
}

/* birthdays colors */
.today {
  background-color: #ff0000;
}

.tomorrow {
  background-color: #ffd0d0;
}

.soon {
  background-color: #ffa0a0;
}

.name {
  text-align: center;
  font-weight: bold;
  display: block;
}
.name a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
}
.name a:visited {
  color: #359 !important;
}
.name a:hover {
  color: #fff !important;
  background-color: #359;
}

/* used for displaying or editing one field of an entry */
.entry_field {
  padding: 0px 6px 5px 6px;
}
.entry_field label {
  width: 150px;
  display: inline-block;
  font-weight: bold;
  padding-right: 5px;
  vertical-align: top;
}
.entry_field div {
  display: inline-flex;
}

/* modal boxes */
#modal_view {
  display: block;
}

#modal_edit {
  display: none;
}

.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 25px;
  background: white;
  transform: translate(-50%, -50%);
  width: 900px;
}

/*# sourceMappingURL=cousinsmatter.css.map */
