###################
# MYSQL ENVIRONMENT
###################
MYSQL_ROOT_PASSWORD=lEsPtiKRO*-/79
MYSQL_DATABASE=lpc
MYSQL_USER=lp
MYSQL_PASSWORD=lpC/?K897yn9)
MYSQL_PORT=3306
MYSQL_SERVER=db2
MARIADB_AUTO_UPGRADE=true

###################
# SQLITE3
###################
SQLITE3_DB_FILENAME=/sqlite3/mysqlite3.db

# ADMIN DATA
ADMIN_FULL_NAME=Olivier LEVILLAIN
ADMIN_USER=olivier
ADMIN_PASSWORD=inutilisé
ADMIN_EMAIL=levillain.olivier@gmail.com

# MAILING LIST
MAILING_LIST=lpc_test

