###################
# SITE DATA
###################
SITE_NAME=<your site name>

###################
# ADMIN DATA
###################
ADMIN_FULL_NAME=<first name> <last name>
ADMIN_USER=admin
ADMIN_PASSWORD=<unused for now>
ADMIN_EMAIL=<an email address>

###################
# MAILING LIST
###################
MAILING_LIST=cousinsmatter

