/* colors */
$bgcolor: #fff;
$fgcolor: #359;
$h1_bgcolor: #ace;
$h1_fgcolor: #024;
$a_visited_color: #355;
$a_hover_color: #088;
$alternate_light: #f9f9ff;
$alternate_dark: #e9e9ef;
$today_color: #ff0000;
$tomorrow_color: #ffd0d0;
$soon_color: #ffa0a0;

/* fonts */
$fontsize: 16px;
$font: Verdana, sans-serif;

/* boxes */
$content_top: 66px;
$sidebar_width: 180px;

body {
	position: relative; 
	margin: 0; padding: 0;
	background-image:   url("../images/fond_littry.jpg");
	background-repeat:repeat;
	background-position:top;
	background-color:$bgcolor;   
	font: $fontsize $font;
	color: $fgcolor;
}
/* main div params */
div.banner-container {
	text-align:center;
}
div.banner {
	background-color: $fgcolor; border-radius: 15px; 
	color: $bgcolor; font-size: 36px; padding: 5px 15px;
	display: inline-block;
}

/* content params */
div.content {
	position: absolute; top: $content_top; left: $sidebar_width; right: 25px; 
    padding: 10px; 

	p {margin: 0 1em 1em; font-weight:600; }

	h3 {margin-bottom: 0.25em;}

	h1 {
		margin: -9px -9px 0.5em; 
		padding: 15px 0 5px; 
		text-align: right; 
		background-color: $h1_bgcolor; 
		color: $h1_fgcolor; 
		text-transform: uppercase; 
		font: bold 25px sans-serif; 
		height: 28px; 
		vertical-align: middle; 
		white-space: nowrap;
	}

	a:link {color: $fgcolor;}
	a:visited {color: $a_visited_color;}
	a:link:hover {color: $a_hover_color;}
	a:visited:hover {color: $a_hover_color;} 

	input, textarea {
		font: $fontsize $font; 
	}
}			

/* menu params */

.sidebar {
	position: absolute; top: $content_top; left: 0; 
	width: $sidebar_width; height: 100%; 
	font-size: 18px; 
	padding-top:10px;
}
.sidebar, .addressbook_navbar, .addressbook_searchbar, .modal_bar, .chat {
	.menu { 
		padding: 3px; margin: 0 2px 2px; 
		display: block;
		a, input[type='submit'] {	
			border-radius: 10px; 
			width: $sidebar_width - 10;
			padding: 3px 0px;
		}
	}
	.letter a {
	    width: 20px;
	}
	.menu, .letter {

		a, a:link, a:visited, input[type='submit'] {
			display: inline-block;
			text-align: center; 
			font-weight:bold; font-size:14px;
			text-decoration: none; 
			cursor: pointer;
			color: $fgcolor;
			background-color: $bgcolor;
			border-width: medium; border-color: $fgcolor; border-style:ridge;
		}
		a:hover, input[type='submit']:hover {
			color: $bgcolor !important; 
			background-color: $fgcolor;
		}
	}
}
.addressbook_navbar, .addressbook_searchbar, .searchbar, .modal_bar, .chat {
	display: block;
	.menu {
		display: inline-block;
	}
} 

.search, .startswith{
	display: inline-block;
	.search-query {
		position: relative; 
		vertical-align: top; 
		background-color: $bgcolor;
	}
}
.search{ 
	float: inline-end;
	.menu { padding: 0px; }
}

code, pre {color: #35F; font: 110% monospace; font-weight:bold;}
.info {
	font-weight: bold;
	margin-bottom: 40px;
}


/* chat */
.chat_time {
	font-style: italic;
	font-size: 9px;
}
.chat, .chat_help {
	display: inline-block;
}
#div_chat {
	height: 300px; width: 650px; 
	overflow: auto; 
	background-color: $bgcolor; 
	border: 1px solid $fgcolor;
}

#txt_message {	width: 573px; }


/* grids */
.grid, .grid2, .grid4 {
	display: grid;
	grid-gap: 1px;
	grid-auto-rows: minmax(20px, auto);
}
.grid, .grid4 {
	grid-template-columns: repeat(4, 1fr);
}
.grid2 {
	grid-template-columns: repeat(2, 1fr);
}

/* alternate row colors */
.alternate-colors {
	>div:nth-of-type(odd) {
		background: $alternate_dark;
	}
	>div:nth-of-type(even) {
		background: $alternate_light;
	}
}

/* alternate cell colors in 2D matrix */
.container {
	> div:nth-of-type(odd) {
		> div:nth-of-type(odd) {
			background: $alternate_dark;
		}
		> div:nth-of-type(even) {
			background: $alternate_light;
		}
	}
	> div:nth-of-type(even) {
		> div:nth-of-type(odd) {
			background: $alternate_light;
		}
		>div:nth-of-type(even) {
			background: $alternate_dark;
		}
	}
}

/* birthdays colors */
.today {
	background-color: $today_color;
}

.tomorrow {
	background-color: $tomorrow_color;
}

.soon {
	background-color: $soon_color;
}

.later {
}

.name {
	text-align: center;
	font-weight: bold;
	display: block;
	a { 
		text-decoration: none; 
		display: inline-block;
		padding: 5px 10px;
		width: 100%;
	}
	a:visited {
		color: $fgcolor !important;
	}
	a:hover {
		color: $bgcolor !important;
		background-color: $fgcolor;
	}
}

/* used for displaying or editing one field of an entry */
.entry_field {
	padding: 0px 6px 5px 6px;

	label {
		width: 150px;
		display: inline-block;
		font-weight: bold;
		padding-right: 5px;
		vertical-align: top;
	}

	div {
		display: inline-flex;
	}
}

/* modal boxes */
#modal_view{display:block} 
#modal_edit{display:none} 

.modal-back {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba( 0, 0, 0, .25 );
}	
.modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 25px;
	background: white;
	transform: translate(-50%, -50%);
	width: 900px;
}
